.flying-bubbles-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.bubble {
  position: absolute;
  bottom: -50px;
  background-color: var(--selection);
  border-radius: 50px;
  animation-name: rise;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rise {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120vh);
  }
}
